# Root
.DS_Store
*.log
.idea/
.vscode/
*.iml

# Backend
be/target/
be/data/
be/.mvn/wrapper/maven-wrapper.jar

# Frontend
fe/node_modules/
fe/.next/
fe/out/
fe/.env*.local

# Env secrets
.env
.env.local
fe/.env*.local

# Keep example env tracked
!fe/.env.example

